<ng-container>
<tds-header class="tds-u-fixed tds-u-top0">
  <tds-header-hamburger
    id="demo-hamburger"
    aria-label="Open application drawer"
    aria-haspopup="false"
    aria-expanded="true"
    (click)="toggleMobileSideMenu()"
  ></tds-header-hamburger>

  <tds-header-title>
    <tds-link><a style="color: white" routerLink="/">My Sportss</a>
    </tds-link>
  </tds-header-title>

</tds-header>

  <div class="side-menu-and-main" >
    <tds-side-menu aria-label="Side menu" persistent open="{{ mobileNavOpen }}" >
      <tds-side-menu-overlay (click)="toggleMobileSideMenu()"  slot="overlay" ></tds-side-menu-overlay>
      <tds-side-menu-close-button slot="close-button" (click)="toggleMobileSideMenu()" ></tds-side-menu-close-button>

      <tds-side-menu-item [selected]="isActive('/')">
        <a routerLink="/" (click)="toggleMobileSideMenu()">
          Lap calculator
        </a>
      </tds-side-menu-item>

      <tds-side-menu-item [selected]="isActive('/home')">
        <a routerLink="/home" (click)="toggleMobileSideMenu()">
          Live O Events
        </a>
      </tds-side-menu-item>
    </tds-side-menu>
  </div>
</ng-container>
