<ng-container>
<tds-header class="tds-u-fixed tds-u-top0">
  <tds-header-hamburger
    id="demo-hamburger"
    aria-label="Open application drawer"
    aria-haspopup="false"
    aria-expanded="true"
    (click)="toggleMobileSideMenu()"
  ></tds-header-hamburger>

  <tds-header-title>
    <tds-link><a style="color: white" routerLink="/">My Sportss</a>
    </tds-link>
  </tds-header-title>

  <nav class="desktop-nav">
    <a routerLink="/" [class.active]="isActive('/')">Lap calculator</a>
    <a routerLink="/home" [class.active]="isActive('/home')">Live O Events</a>
  </nav>

</tds-header>

  
</ng-container>
