<ng-container>
<tds-header class="tds-u-fixed tds-u-top0">
  <tds-header-hamburger
    id="demo-hamburger"
    aria-label="Open application drawer"
    aria-haspopup="false"
    [attr.aria-expanded]="mobileNavOpen"
    (click)="toggleMobileSideMenu()"
  ></tds-header-hamburger>

  <tds-header-title>
    <tds-link><a class="white-link" routerLink="/">My Sports</a>
    </tds-link>
  </tds-header-title>

  <nav class="desktop-nav">
    <a class="white-link" routerLink="/" [class.active]="isActive('/')">Lap calculator</a>
    <a class="white-link" routerLink="/home" [class.active]="isActive('/home')">Live O Events</a>
  </nav>

</tds-header>

  <nav class="mobile-nav" *ngIf="mobileNavOpen">
    <a class="white-link" routerLink="/" [class.active]="isActive('/')" (click)="closeMobileSideMenu()">Lap calculator</a>
    <a class="white-link" routerLink="/home" [class.active]="isActive('/home')" (click)="closeMobileSideMenu()">Live O Events</a>
  </nav>

</ng-container>
